/node_modules
/.env
/ca
/rethinkdb_data/
/npm-debug.log
/icomoon
/static/build
/.vscode
/jsConfig.json
/coverage
/selenium-debug.log
/reports
/.nyc_output

## files for gh-pages to ignore
/config
/db
/images
/models
/routes
/static
/test
/users
